<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Hello, what's your name?</p>
  <form method='post' action='/'>
    <input type="text" name="user" id="user">  
    <input type="submit" name="send" value="Send" >
  </form>
</body>
</html>